* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GigaSansBlack;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(184, 110, 65) 0%,
    rgb(255, 30, 0) 100%
  );
}
.newTaskContainer {
  padding: 30px;
  width: 800px;
  min-height: 500px;
  max-height: 100vh;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addTaskContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  height: 200px;
  background-color: #eee;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}
.newTaskBar {
  padding: 10px;
  width: 70%;
  font-size: 18px;
  border: #111 3px solid;
  transition-property: border;
  transition-delay: 100ms;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}

.form {
  width: 90%;
  justify-content: space-around;
  display: flex;
}
.addTask {
  padding: 15px;
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(184, 99, 65);
  border: none;
  color: #eee;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 100ms;
  transition-duration: 400ms;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}
.addTask:hover {
  cursor: pointer;
  background-color: rgb(15, 145, 11);
}
.newTaskBar:focus,
.newTaskBar:hover {
  outline: none;
  border: rgb(15, 145, 11) 3px solid;
}
@font-face {
  font-family: GigaSansBlack;
  src: url(./fonts/giga-sans-black.otf);
}
.error {
  padding: 10px;
  width: 70%;
  font-size: 18px;
  border: rgb(255, 17, 0) 3px solid;
  transition-property: border;
  transition-delay: 100ms;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}
.concludes {
  width: 30px;
  height: 30px;
}
.error::placeholder {
  color: rgba(245, 0, 0, 0.795);
}
.task1 {
  display: flex;
}
.delete {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}
.yesTask {
  color: rgb(15, 145, 11);
}
.delete:hover {
  cursor: pointer;
}
.concludes:hover {
  cursor: pointer;
}
.taskItem {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  word-break: break-all;
  word-wrap: break-word;
}
.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
  width: 90%;
  display: none;
}
